<% form_for :session, :method => :post, :url => session_url do |f| %>
  <div>
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>
  
  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  
  <div><%= f.submit "Log In" %></div>
<% end %>