- form_for :session, :method => :post, :url => session_url do |f|
  %div
    = f.label :phone
    = f.text_field :phone
  %div
    = f.label :password
    = f.password_field :password
  %div= f.submit "Log In"
