<% person ||= Person.new %>
<% remote_form_for :person, person, :url => family_people_url(current_family), :method => :post, :html => {:id => 'new-person'} do |f| -%>
  <div>
  <%= f.error_messages %>
  <div class="field name">
    <%=f.label :name %>
    <%= f.text_field :name -%>
  </div>
  <div class="field phone">
    <%=f.label :phone %>
    <%= f.text_field :phone -%>
  </div>
  <div class="field sms">
    <%=f.label :sms%>
    <%= f.text_field :sms -%>
  </div>
  <div class="field email">
    <%=f.label :email %>
    <%= f.text_field :email -%>
  </div>
  <div class="field submit"><%= f.submit 'Add' -%></div>
  </div>
<% end -%>
