<div class="mobile_header">
  <div class="header_logo">
    <%= image_tag 'breakglass_icon.gif', :size => "48x48" %>
  </div>
  <div class="header_text">
    <%= @family.name.capitalize %> Family Plan
  </div>
  <div class="clear"/>
</div>

<% @family.meeting_places.each do |family_meeting_place| %>
  <div class="info_block" id="meeting_place">
    <div class="info_block_name">
      <%= family_meeting_place.name %>
    </div>
    <div class="info_block_text">
      <%= family_meeting_place.text %>
    </div>
    <div class="info_block_phone">
      <%= family_meeting_place.formatted_phone %>
    </div>
  </div>
<% end %> 

  <div class="info_block" id="out_of_town_contact">
    <div class="info_block_name">
      Out-Of-Town Contact
    </div>
    <div class="info_block_text">
      <%= @family.external_contact_name %>
    </div>
    <div class="info_block_phone">
      <%= @family.formatted_external_contact_phone %>
    </div>
  </div>

  <div class="submit_block" id="break_glass">
    <% form_for :message, :url => messages_url, :method => :post do |f| %>
      <div class="submit_block">
      <%= f.text_field :text %>
      <%= submit_tag 'Break Glass', :id => "submit_button" %>
      </div>
    <% end %>
  </div>

