<div class="meeting-place" id="<%=meeting_place.element_id%>">
  <div class="static">
    <div class="meeting-place-name"><%=meeting_place.name%></div>
    <div class="text"><%=meeting_place.text%></div>
    <div class="phone"><%=meeting_place.formatted_phone unless meeting_place.phone.blank?%></div>
    Click to edit
  </div>
  
  <% remote_form_for meeting_place, :url => meeting_place_url(meeting_place), :html => {:class => 'meeting-place-form', :style => "display:none"} do |f| %>
    <%= f.text_area 'text' %>
    <div class="phone">Phone:<%= f.text_field 'phone', :text => meeting_place.formatted_phone %></div>
    <%= f.submit "Update"%>
  <% end %>
</div>
