<%= mobile_xhtml_doctype %>

<html>
  <head>
    <title>Break Glass</title>
    <meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0;"/>
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png" />
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <%= stylesheet_link_tag 'breakglass', :media => 'all' %>
    <%= stylesheet_link_tag 'breakglass_mobile', :media => 'all' %>
    <meta name="apple-mobile-web-app-capable" content="yes">
  </head>
  <body>
		<%= render :partial => 'layouts/shared'%>
    <%= yield %>
  </body>
</html>
